contourpy==1.0.7
cycler==0.11.0
einops==0.6.0
filelock==3.11.0
fonttools==4.39.3
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
-e git+https://github.com/Project-MONAI/MONAI.git@6a7f35b7e271cdf3b2c763ae35acf4ab25d85d23#egg=monai
mpmath==1.3.0
networkx==3.1
nibabel==5.1.0
numpy==1.24.2
packaging==23.0
pandas==2.0.0
Pillow==9.5.0
protobuf==3.20.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
SimpleITK==2.2.1
six==1.16.0
sympy==1.11.1
tensorboardX==2.6
threadpoolctl==3.1.0
torch==2.0.0
tqdm==4.65.0
typing_extensions==4.5.0
tzdata==2023.3
